{% extends "base.html" %}
{% block title %}My password{% endblock %}
{% block home_href %}{{ url_for('admin.dashboard') }}{% endblock %}
{% block nav %}{% include "admin/_nav.html" %}{% endblock %}
{% block body %}
  <h1>Change your password</h1>
  <form method="post" class="card form">
    <label>Current password
      <input type="password" name="current_password" required autocomplete="current-password">
    </label>
    <label>New password
      <input type="password" name="new_password" required autocomplete="new-password">
    </label>
    <label>Confirm new password
      <input type="password" name="confirm_password" required autocomplete="new-password">
    </label>
    <button type="submit" class="btn primary">Update password</button>
  </form>
{% endblock %}
